<a href="https://colab.research.google.com/github/milanmohapatra99/Assignment-pyhon/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#WAP to print natural numbers from 1 to n, n is entered by the user
number = int(input("Please Enter any Number: "))  
print("The List of Natural Numbers from 1 to n are".format(number)) 

for i in range(1, number + 1):
    print (i)

Please Enter any Number: 45
The List of Natural Numbers from 1 to n are
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [2]:
#WAP to print table of n, where n is entered by the user
n=int(input("Enter the number to print the tables for:-"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:-5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50